@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*Кнопки*/

.button-basic {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  cursor: pointer;
}

.button-second {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
}

.button-selected {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
  cursor: pointer;
}


/*Поля форм*/
input.field {
  font-family: "PT Sans", sans-serif;
}

input.control-input {
  font-family: "PT Sans", sans-serif;
}

/*Header*/

.page-header-logo {
  display: block;
}

.page-header-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.header-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}


.navigation-logo {
  width: 139px;
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-list {
  width: 390px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px 17px;
}

.user-menu-list {
  width: 264px;
  margin-left: auto;
  margin-right: 70px;
}

.user-menu-item {
  display: flex;
  flex-wrap: wrap;
}

.user-menu-link {
  min-width: 42px;
  min-height: 66px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.user-menu-link.button-basic {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*Index*/

.main-image-welcome {
  display: block;
}

.main-image {
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 51px 371px 82px;
  ;
}

/*Аdvantages*/

.advantages-reasons-container {
  padding: 63px 273px 90px;
  text-align: center;
}

.advantages-sedona-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.advantages-sedona-reasons {
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/*Список преимуществ*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages-city {
  grid-column: 1/2;
  padding: 92px 85px;
}

.advantages-house {
  grid-column: 1/2;
  padding: 80px 85px;
}

.advantages-food {
  padding: 80px 85px 81px;
}

.advantages-souvenirs {
  padding: 80px 85px;
}

.advantages-bridge {
  grid-column: 3/4;
  padding: 92px 85px;
}

.advantages-area {
  grid-column: 1/2;
  padding: 102px 85px;
}

.advantages-road {
  padding: 102px 85px;
}

.advantages-tourists {
  padding: 102px 85px;
}

/*Оформление списка преимуществ*/

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
}

.advantages-description-second {
  color: #333333;
}

.number {
  font-size: 18px;
  line-height: 21px;
}

.number-first {
  color: #ffffff;
}

.advantages-title-first,
.advantages-description-first {
  color: #ffffff;
}

.advantages-item-first {
  background-color: #82B3D3;
}

.advantages-item-second {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-third {
  background-color: rgba(131, 179, 211, 0.2);
}

/* фото для преимуществ
.advantages-image-first {
  background-image: url("../images/index/advantages-photo-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.advantages-image-second {
  background-image: url("../images/index/advantages-photo-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}
*/

/*Блок с поиском отеля*/

.hotel-search {
  text-align: center;
  padding: 91px 304px 93px;
}

.hotel-search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-description {
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

.hotel-search-link.button-basic {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  display: block;
  width: 574px;
  margin-top: 56px;
}

/*Футер*/

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

/*Блок с подпиской*/

.footer-subscription {
  background-image: url("../images/footer/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  width: 1200px;

}

.footer-subscription-container {
  padding: 94px 200px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscription-description {
  min-width: 476px;
  margin: 0;
}

.button-newsletter {
  font-size: 20px;
  line-height: 36px;
}

.newsletter-form {
  width: 600px;
  margin-top: 46px;
}

/*Контакты*/

.contacts-container {
  display: flex;
  width: 1200px;
  padding: 40px 69px 30px;
  margin: 0 auto;
  align-items: center;
}

.footer-social {
  margin-right: 42px;
}

.footer-social-list {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-phone {
  width: 720px;
  text-align: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-link {
  margin-left: 43px;
}

/*каталог*/

.filter-container {
  background-image: url("../images/catalog/filter-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px;
}

.catalog-hotel {
  margin-top: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

/* Хлебные крошки*/

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  min-width: 110px;
}

.breadcrumbs-item {
  display: flex;
  min-width: 12px;
  min-height: 12px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

/*Список фильтров для гостиниц*/

.catalog-filter-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 21px;
}

.control-price {
  font-size: 18px;
  line-height: 21px;
}

.control-input-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/*Сортировка*/
.catalog-sorting {
  padding: 50px 71px 56px;
}

.catalog-sorting-container {
  display: flex;
  width: 1057px;
}

.catalog-sorting-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-right: 191px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.button-view-container {
  display: flex;
  width: 160px;
  margin-left: 78px;
  justify-content: space-between;
}

.button-view {
  width: 48px;
  height: 48px;
}

/*карточки товаров*/

.catalog {
  width: 1056px;
  margin: 0 auto;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  margin: 20px;
  gap: 16px 20px;
}

.hotel-card-image {
  grid-column: 1/-1;
  object-fit: contain;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  grid-column: 1/-1;
  margin: 0;
}

.hotel-card-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

.hotel-card-rating-text {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-align: center;
  padding: 9px 22px 8px;
}

.hotel-description-link {
  text-decoration: none;
}

.product-rating-stars {
  width: 90px;
  height: 17px;
  background-image: url("../images/catalog/star.svg");
}

/*Пагинация*/
.pagination {
  display: flex;
  padding: 0;
  width: 1056px;
  margin: 96px 72px 25px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 270px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 21px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.view-option-text {
  font-size: 18px;
  line-height: 21px;
}

.view-option {
  margin-left: auto;
  width: 160px;
}

/*Прячет скрыте элементы*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
