@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


/*Кнопки*/

.button {
  border: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.button-basic {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

.button-basic:hover {
  background-color: #615048;
}

.button-basic:focus {
  background-color: #615048;
}

.button-basic:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-second {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.button-second:not(.pagination-current):hover {
  background-color: #68A2CA;
}

.button-second:not(.pagination-current):focus {
  background-color: #68A2CA;
}

.button-second:not(.pagination-current):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-selected {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
}

.button-selected:hover {
  background-color: #6C9E42;
}

.button-selected:focus {
  background-color: #6C9E42;
}

.button-selected:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

/*Поля форм*/
input.field {
  font-family: "PT Sans", sans-serif;
}

input.control-input {
  font-family: "PT Sans", sans-serif;
}

/*Header*/

.page-header-logo {
  display: block;
}

.page-header-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.header-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}


.navigation-logo {
  width: 139px;
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-list {
  width: 390px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px 17px;
}

.navigation-item-current {
  position: relative;
}

.navigation-item-current::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #756257;
  left: 0;
  top: 0;
  bottom: -1px;
  right: 0;
  z-index: 2;
}

.user-menu-list {
  width: 264px;
  margin-left: auto;
  margin-right: 70px;
}

.user-menu-item {
  display: flex;
  flex-wrap: wrap;
}

.user-menu-item:nth-child(2) {
  margin-right: 19px;
}

.user-menu-link {
  min-width: 42px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.user-menu-link-heart::after {
  content: "12";
  font-weight: 400;
  font-size: 10px;
  line-height: 0;
  text-align: center;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  position: absolute;
  left: 55%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-menu-link.button-basic {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  padding: 9px 15px 8px;
  width: 160px;
  align-self: center;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*Index*/

.main-image-welcome {
  display: block;
}

.main-image {
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 51px 371px 82px;
  position: relative;
  display: block;
}

.main-image::after {
  content: url(../images/index/index-background-cut.png);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(428px);
}

/*Преимущества*/

.advantages-reasons-container {
  padding: 63px 273px 90px;
  text-align: center;
}

.advantages-sedona-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.advantages-sedona-reasons {
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/*Список преимуществ*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages-city {
  grid-column: 1/2;
  padding: 92px 85px;
  position: relative;
}

.advantages-city::after {
  content: url("../images/index/advantages-photo-1.jpg");
  width: 800px;
  height: 384px;
  position: absolute;
  left: 100%;
  top: 0;
}

.advantages-house {
  grid-column: 1/2;
  padding: 185px 85px 80px;
  background-image: url("../images/index/advantages-housing.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantages-food {
  padding: 185px 85px 80px;
  background-image: url("../images/index/advantages-eating.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantages-souvenirs {
  padding: 185px 85px 80px;
  background-image: url("../images/index/advantages-souvenir.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantages-bridge {
  grid-column: 3/4;
  padding: 92px 85px;
  position: relative;
}

.advantages-bridge::before {
  content: url("../images/index/advantages-photo-2.jpg");
  width: 800px;
  height: 384px;
  position: absolute;
  right: 100%;
  top: 0;
}

.advantages-area {
  grid-column: 1/2;
  padding: 102px 85px;
}

.advantages-road {
  padding: 102px 85px;
}

.advantages-tourists {
  padding: 102px 85px;
}

/*Оформление списка преимуществ*/

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
}

.advantages-description-second {
  color: #333333;
}

.number {
  font-size: 18px;
  line-height: 21px;
  display: block;
}

.number-first {
  color: #ffffff;
}

.advantages-title-first,
.advantages-description-first {
  color: #ffffff;
}

.advantages-item-first {
  background-color: #82B3D3;
}

.advantages-item-second {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-third {
  background-color: rgba(131, 179, 211, 0.2);
}

/*Блок с поиском отеля*/

.hotel-search {
  text-align: center;
  padding: 91px 304px 93px;
}

.hotel-search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-description {
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

.hotel-search-link.button-basic {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  display: block;
  width: 574px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

/*Футер*/

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

/*Блок с подпиской*/

.footer-index-subscription {
  background-image: url("../images/footer/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  width: 1200px;
}

.footer-catalog-subscription {
  text-align: center;
  width: 1200px;
}

.footer-subscription-container {
  padding: 94px 200px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscription-description {
  margin: 0;
}

.subscription-description-catalog {
  color: #333333;
}

.button-newsletter {
  font-size: 20px;
  line-height: 36px;
}

.newsletter-form {
  width: 600px;
  margin-top: 46px;
}

/*Контакты*/

.contacts-container {
  display: flex;
  width: 1200px;
  padding: 40px 69px 30px;
  margin: 0 auto;
  align-items: center;
}

.footer-social {
  margin-right: 42px;
}

.footer-social-list {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  width: 720px;
  text-align: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-htmlacademy-link {
  margin-left: 43px;
  position: relative;
}

.htmlacademy-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;
}

.footer-htmlacademy-link:hover .htmlacademy-icon {
  fill: #756157;
}

.footer-htmlacademy-link:focus .htmlacademy-icon {
  fill: #756157;
}

.footer-htmlacademy-link:active .htmlacademy-icon {
  fill: rgba(117, 97, 87, 0.3);
}

/*каталог*/

.filter-container {
  background-image: url("../images/catalog/filter-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px;
}

.catalog-hotel {
  margin-top: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

/* Хлебные крошки*/

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  list-style-type: none;
  min-width: 110px;
}

.breadcrumbs-item {
  display: flex;
  min-width: 12px;
  min-height: 12px;
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FFFFFF;
}

.breadcrumbs-icon-house:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-text:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-icon-house:focus {
  fill: #FFFFFF;
}

.breadcrumbs-text:focus {
  color: #FFFFFF;
}

.breadcrumbs-icon-house:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-text:active {
  color: rgba(255, 255, 255, 0.3);
}

/*Список фильтров для гостиниц*/

.catalog-filter-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-first-element {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  column-gap: 70px;
}

.catalog-filter-second-element {
  display: grid;
  grid-template-columns: 288px 160px;
  column-gap: 70px;
}

.catalog-filter-buttons {
  display: flex;
  width: 160px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control-price {
  font-size: 18px;
  line-height: 21px;
}

.control-input-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(28, 28, 28, 0);
  border: none;
  margin-top: 20px;
}

/*Сортировка*/
.catalog-sorting {
  padding: 50px 71px 56px;
}

.catalog-sorting-container {
  display: flex;
  width: 1057px;
}

.catalog-sorting-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-right: 191px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.select-control-sorting {
  width: 290px;
}

.button-view-container {
  display: flex;
  width: 160px;
  margin-left: auto;
  justify-content: space-between;
}

.button-view {
  width: 48px;
  height: 48px;
  position: relative;
}

.button-view-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button-view-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-view-uncurrent {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}


.button-view:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-view:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.button-view:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

/*карточки товаров*/

.catalog {
  width: 1056px;
  margin: 0 auto;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  margin: 20px;
  gap: 16px 20px;
}

.hotel-card-image {
  grid-column: 1/-1;
  object-fit: contain;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  grid-column: 1/-1;
  margin: 0;
}

.hotel-card-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

.hotel-card-rating-text {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-align: center;
  padding: 9px 22px 8px;
}

.hotel-description-link {
  text-decoration: none;
}

.product-rating-stars-four {
  width: 85px;
  background-image: url("../images/catalog/star.svg");
  background-repeat: space no-repeat;
  background-position: center;
}

.product-rating-stars-three {
  width: 65px;
  background-image: url("../images/catalog/star.svg");
  background-repeat: space no-repeat;
  background-position: center;
}

.product-rating-stars-two {
  width: 40px;
  background-image: url("../images/catalog/star.svg");
  background-repeat: space no-repeat;
  background-position: center;
}

/*Пагинация*/
.pagination {
  display: flex;
  padding: 0;
  width: 1056px;
  margin: 96px 72px 25px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 270px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 21px;
  border-radius: 5px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.view-option-text {
  font-size: 18px;
  line-height: 21px;
}

.view-option {
  margin-left: auto;
  width: 160px;
}

/*Прячет скрыте элементы*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
