@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*Кнопки*/

.button-basic {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  cursor: pointer;
}

.button-second {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  cursor: pointer;
}

.button-selected {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
  cursor: pointer;
}


/*Поля форм*/
input.field {
  font-family: "PT Sans", sans-serif;
}

input.control-input {
  font-family: "PT Sans", sans-serif;
}

/*Header*/

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.header-list {
  margin: 0;
  padding: 0;
}


.navigation-logo {
  width: 139px;
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  width: 390px;
}

.user-menu-list {
  max-width: 264px;
  margin-left: auto;
  margin-right: 70px;
}


.navigation-link {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.user-menu-link {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.user-menu-link.button-basic {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*Index*/

.main-image-welcome {
  display: block;
  margin: 0 auto;
}

.main-image {
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-sedona-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-sedona-reasons {
  color: #333333;
  background-color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 12px;
}

.advantages-description-second {
  color: #333333;
}

.number {
  font-size: 18px;
  line-height: 21px;
}

.number-first {
  color: #ffffff;
}

.advantages-title-first,
.advantages-description-first {
  color: #ffffff;
}

.advantages-item {
  width: 400px;
}

.advantages-item-first {
  background-color: #82B3D3;
}

.advantages-list-city {
  background-color: #ffffff;
}

.advantages-item-second {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-third {
  background-color: rgba(131, 179, 211, 0.2);
}

/* фото для преимуществ
.advantages-image-first {
  background-image: url("../images/index/advantages-photo-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.advantages-image-second {
  background-image: url("../images/index/advantages-photo-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}
*/

.hotel-search {
  text-align: center;
}


.hotel-search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-description {
  color: #333333;
  background-color: #ffffff;
}

.hotel-search-link.button-basic {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

/*Футер*/

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.footer-subscription {
  background-image: url("../images/footer/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  width: 1200px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.button-newsletter {
  font-size: 20px;
  line-height: 36px;
}

.footer-social {
  width: 142px;
  margin-left: 72px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-phone {
  width: 720px;
  text-align: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.footer-link {
  width: 115px;
  margin-right: 70px;
  margin-left: 53px;
}

/*каталог*/

.filter-container {
  background-image: url("../images/catalog/filter-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
}

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter-container {
width: 1060px;
margin: 0 auto;
display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 21px;
}

.control-price {
  font-size: 18px;
  line-height: 21px;
}

.control-input-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog-sorting {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.catalog-sorting-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.catalog {
  width: 1056px;
  margin: 0 auto;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hotel-card {
width: 340px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.hotel-card-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.hotel-card-rating-text {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
}

.hotel-description-link {
  text-decoration: none;
}

/*Пагинация*/

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 400px;
  margin-right: 270px;
}

.view-option {
  width: 160px;
  margin-left: auto;
}

